[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
docutils = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pydocstyle = "*"

[packages]
gmpy2 = "==2.1.0b4"
numpy = '==1.18.2'
pandas = '==1.0.4'
hypothesis = "==5.15.1"
typish = '*'
jsons = '==1.1.2'
tqdm = "4.47.0"
cryptography = "2.9.2"
electionguard = {editable = true, git = "https://github.com/microsoft/electionguard-python.git", ref = "fix/deserialization-issues"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
