[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
docutils = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pydocstyle = "*"

# Note: this file needs to be kept in sync with setup.py
[packages]
gmpy2 = "==2.1.0b5"
numpy = '==1.18.2'
pandas = '==1.2.2'
hypothesis = "==6.1.1"
typish = '==1.7.0'
jsons = '==1.1.2'
tqdm = "==4.56.2"
cryptography = "==3.4.7"
# modin = '==0.8.3'
flask = "==1.1.2"
pillow = "==8.1.2"
qrcode = "==6.1"
more-itertools = "==8.7.0"
boto3 = "==1.17.44"

# Note: additional work for PyCharm and other IDEs is necessary to use these stubs
# https://pypi.org/project/boto3-stubs/
# To make our lives easier, the output of mypy_boto3_builder, written in the `typings`
# directory, is just committed as part of our main repository.
boto3-stubs = {extras = ["s3", "ec2"], version = "1.17.44"}


# relevant description and useful links on how to do platform-specific includes for nightly builds:
# https://dev.to/tomoyukiaota/creating-a-pipfile-which-has-different-installation-instructions-depending-on-operating-systems-pytorch-v041-as-an-example-56i8
# https://github.com/python-poetry/poetry/issues/2138
#ray_mac = {file = "https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.1.0.dev0-cp38-cp38-macosx_10_13_x86_64.whl", markers = "sys_platform == 'darwin'"}
#ray_linux = {file = "https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.1.0.dev0-cp38-cp38-manylinux1_x86_64.whl", markers = "sys_platform == 'linux'"}
ray = { extras = ["default"], version = "1.3.0"}

electionguard = {editable = true, git = "https://github.com/votingworks/electionguard-python.git", ref = "main"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
